
# This config reads rt logs.
# ex. "logstash -f rt.conf"
# ex log file line "1/20/16 20:19,192.168.x.x,192.168.x.1,443,nmap,,1/20/15 20:20,"ran nmap on host",,,location,"port closed",,"location 1" "
# agent389@gmail.com feb 11 2016
input{
  file{
    path => ["/file/location/rt/*.csv"]
    start_position => "beginning"
  }
}
filter{
  csv{
    columns => ["time","sourceAddress","destinationAddress","ports","toolApp","filename","endTime","actions","comments","credentials","myLocation","results","url","physicalLocation"]
    }
  date{
    match => ["time","MM/dd/yy HH:mm"]
  }
}
output{
  elasticserach{}
  stdout{codec=>rubydebug}
}
