# This config reads in splunk exported windows event log files.  
# ex "cat data.csv| logstash -f windows-eventlog-csv-splunk.conf"
# agent389@gmail.com Feb 11 2016

input{
    stdin{
        codec => multiline{
                          pattern => "^[0-9]"
                          negate => "true"
                          what => "previous"
                          }
      }
}
filter{
    csv{
      columns => ["serial", "time","source","sourcetype","host","index","splunk_server","raw"]
    }
    date{
      match => ["time", "yyyy-MM-dd HH:mm:ss:SSS z"]
    }
}

output{
  elasticsearch{}
  stdout{codec => rubydebug}
}
